<!doctype html>
<html>
<head>
	<title><%= current_page.data.title || "Matthew Al-Sheikh" %></title>
	<!-- Always force latest IE rendering engine or request Chrome Frame -->
	<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Web developer Matthew Al-Sheikh's personal website." />
	<meta name="keywords" content="software engineer, developer, web developer, design, matthew alsheikh, matthew al-sheikh" />
	<meta name="author" content="Matthew Al-Sheikh" />
	<meta name="Robots" content="INDEX,FOLLOW">
	<meta charset="utf-8">

	<link href='http://fonts.googleapis.com/css?family=Gafata' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Bubbler+One' rel='stylesheet' type='text/css'>

	<link rel="icon" href="/images/favicon.ico">

	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>

	<!-- Use title if it's in the page YAML frontmatter -->
	<%= stylesheet_link_tag "normalize", "main" %>
	<%= javascript_include_tag "main" %>
	<%= yield_content :assets %>
</head>
<body class="<%= page_classes + " " + (current_page.data.bodyClass || "") %>">
	<div id="page">
		<div id="page-inner">
			<div id="main-bar">
				<div id="name-holder">
					<div id="side-contact">
						<div class="contact-wrapper">
							<div class="contact-icon">
								<% link_to "/images/MatthewAlSheikhResume.pdf", :target => "_blank" do %>
								<%= image_tag "resume.svg", :class => "contact-img", :title => "Résumé" %>
								<% end %>
							</div>
							<div class="contact-icon">
								<% link_to "http://www.linkedin.com/pub/matthew-al-sheikh/42/64/651", :target => "_blank" do %>
								<%= image_tag "linkedin.svg", :class => "contact-img", :title => "LinkedIn" %>
								<% end %>
							</div>
						</div>
						<div class="contact-wrapper">
							<div class="contact-icon">
								<% link_to "mailto:matthewalsheikh@gmail.com", :target => "_blank" do %>
								<%= image_tag "mail.png", :class => "contact-img", :title => "Email" %>
								<% end %>
							</div>
							<div class="contact-icon">
								<% link_to "https://twitter.com/MattySheikh", :target => "_blank" do %>
								<%= image_tag "twitter.png", :class => "contact-img", :title => "Twitter" %>
								<% end %>
							</div>
						</div>
					</div>
					<div id="name-container">
						<% link_to "/" do %>
						<div id="bar-name">
							Matthew Al-Sheikh
						</div>
						<div id="bar-subtitle">
							Developer, foodie, and sports junkie.
						</div>
						<% end %>
					</div>
				</div>
				<div id="subbar">
					<div class="subbar-menu">
						<% link_to "/about-me" do %>
						<div class="menu-item about-me-menu">
							<div class="sub-menu-item">
								<div class="bar-title">
									Who are you?
								</div>
								<div class="bar-link">
									About Me
									<div class="bar-img">
										<%= image_tag "beard.svg" %>
									</div>
								</div>
							</div>
						</div>
						<% end %>
					</div>
					<div class="subbar-menu">
						<% link_to "/projects" do %>
						<div class="menu-item projects-menu">
							<div class="bar-title">
								Work outside of work
							</div>
							<div class="bar-link">
								Projects
								<div class="bar-img">
									<%= image_tag "project.svg" %>
								</div>
							</div>
						</div>
						<% end %>
					</div>
					<div class="subbar-menu">
						<% link_to "/experiments" do %>
						<div class="menu-item experiments-menu">
							<div class="bar-title">
								Weird stuff
							</div>
							<div class="bar-link">
								Experiments
								<div class="bar-img">
									<%= image_tag "experiment.svg" %>
								</div>
							</div>
						</div>
						<% end %>
					</div>
					<div class="subbar-menu">
						<% link_to "https://github.com/MattySheikh", :target => "_blank" do %>
						<div class="menu-item last">
							<div class="bar-title">
								Let me see your code
							</div>
							<div class="bar-link">
								GitHub
								<div class="bar-img">
									<%= image_tag "code.svg" %>
								</div>
							</div>
						</div>
						<% end %>
					</div>
				</div>
			</div>
			<div id="content">
				<%= yield %>
			</div>
			<div id="bottom-contact">
				<div class="contact">
					Contact
				</div>
				<div class="contact-icon">
					<% link_to "/images/MatthewAlSheikhResume.pdf",  :target => "_blank" do %>
					<%= image_tag "resume.svg", :class => "contact-img",  :title => "Resum&eacute;" %>
					<% end %>
				</div>
				<div class="contact-icon">
					<% link_to "http://www.linkedin.com/pub/matthew-al-sheikh/42/64/651", :target => "_blank" do %>
					<%= image_tag "linkedin.svg", :class => "contact-img", :title => "LinkedIn" %>
					<% end %>
				</div>
				<div class="contact-icon">
					<% link_to "mailto:matthewalsheikh@gmail.com", :target => "_blank" do %>
					<%= image_tag "mail.png", :class => "contact-img", :title => "Email" %>
					<% end %>
				</div>
				<div class="contact-icon">
					<% link_to "https://twitter.com/MattySheikh", :target => "_blank" do %>
					<%= image_tag "twitter.svg", :class => "contact-img", :title => "Twitter" %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</body>
</html>