---
title: My Experiments
bodyClass: nonindex
---

<% content_for :assets do %>
<%= stylesheet_link_tag 'home' %>
<%= javascript_include_tag 'home' %>
<% end %>

<div id="home-content">
	<div class="home-section dark">
		<div class="section-container">
			<div class="home-question">Who I Am</div>
			<div class="img-answer">
				<div class="home-img-block">
					<%= image_tag "mugshot.png", :class => "home-img" %>
				</div>
				<div class="home-answer">
					<p>
						My name is Matthew Al-Sheikh. I'm 23 years old, currently residing in the beautiful town of Santa Barbara, California.
					</p>
					<p>
						I attended school at the University of California at Santa Barbara with a degree in Computer Science. I also emphasized in Computation Economics.
					</p>
					<p>
						I was born and raised in sunny San Diego, California. I've been a die-hard Padres, Chargers, and Lakers fan since the day I was born.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="home-section dark">
		<div class="section-container">
			<div class="home-question">What I Can Do</div>
			<div class="img-answer">
				<div class="home-img-block">
					<%= image_tag "code_icon.png", :class => "home-img" %>
				</div>
				<div class="home-answer">
					<p>
						While I was in school, I learned a lot about developing in C++ and MySQL. I always knew I wanted to move to web development at some point.
					</p>
					<p>
						Currently I am working extensively with PHP, JavaScript, jQuery, MySQL, and HTML/CSS. I've also been doing a bit of work in spatial databases.
					</p>
					<p>
						I'm also learning how to develop in Ruby and Rails. Both are extremely exciting technologies that I can't wait to master.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="home-section dark">
		<div class="section-container">
			<div class="home-question">What I Enjoy Doing</div>
			<div class="img-answer">
				<div class="home-img-block">
					<%= image_tag "disneyland.png", :class => "home-img" %>
				</div>
				<div class="home-answer">
					<p>
						Building things; whether it be via code or with my hands. I've always been a tinkerer.
					</p>
					<p>
						I need to stay active. Volleyball, football, soccer. You name it, and I'll play it. I may not be the best at it, but I'll always give it a go.
					</p>
					<p>
						As big into sports as I am, I'm even bigger into the numbers behind them. I love researching advanced baseball metrics, NFL stats, and much more.
					</p>
					<p>
						Oh, and of course Disneyland. There is no point ever in my life in which I will not want to go to Disneyland.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>